@model IEnumerable<Shop.Models.Product>
@{
    ViewBag.Title = "ReportForNoOfDays";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}
<div>
    <img src="@Url.Action("MonthlySellChart", "Report")" />
</div>