@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>

                @if (Session["StatusId"] != null)
                {
                    if (Session["StatusId"].ToString() == "2")
                    {
                        @Html.ActionLink("Hello " + Session["Name"] + "!", "OrderList", "Order", routeValues: null, htmlAttributes: new { title = "Manage" })
                    }
                   
                }

            </li>
            <li>
                @if (Session["StatusId"] != null)
                {

                    @Html.ActionLink("Log out", "Logout", "Account");

                }
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="@Url.Action("Login", "Account")">Login</a>
        </li>

    </ul>
}
