@model IEnumerable<Shop.Models.Color>

@{
    ViewBag.Title = "ColorList";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h2>ColorList</h2>

<p>
    @Html.ActionLink("Create New", "AddNewColor")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "ColorEdit", new { id=item.ColorId }) 
         
        </td>
    </tr>
}

</table>
